<h1>Upcoming <%=@game.title %> Events </h1>

<h3> <b>Online</b> </h3>
<% if @events.none? {|event| event.location == "Online"} %>
    <%= "There are no Online events for #{@game.title}." %>
<% elsif %>
<% @events.each do |event| %>
    <% if event.location == "Online"%>
        <li><%= link_to event.date_time, event_path(event) %> </li>
    <% end %>
<% end %>
<% end %>
    

<h3> <b>In Person</b></h3>
<% if @events.none? {|event| event.location == "In Person"} %>
    <%= "There are no In Person events for #{@game.title}." %>
<% elsif %>

<% @events.each do |event| %>
    <% if event.location == "In Person"%>
       <li> <%= link_to event.date_time, event_path(event) %> </li>
    <% end %>
<% end %>
<% end %>