<h1> Upcoming Events </h1>

<h3> <b>Online Events </b></h3>
    <% Event.online.each do |event| %>
        <% if event.upcoming %>
        <li> <%= event.date_time %>
        <%= link_to event.game.title, event_path(event) %></li>
        <% end %>
        <% end %>


<h3><b> In Person Events</b> </h3>
<% Event.in_person.each do |event| %>
    <% if event.upcoming %>
    <li> <%= event.date_time %>
    <%= link_to event.game.title, event_path(event) %></li>
    <% end %>
    <% end %>
<br>
<br>
<h5><div class="create_event"><%= link_to "Create an Event!", new_event_path %></h5></div>