<h1> <%= link_to @event.game.title, game_path(@event.game) %> Tournament </h1>

<b>When:</b><%= @event.date_time %></br></br>    
<b>Location:</b> <%= @event.location %></br></br>
<b>Maximum Number of Entrants:</b> <%= @event.max_num_entrants %></br></br>
<b>Number of Participants:</b> <%= @event.users.count %></br></br>
<b>Entrance Fee:</b> $<%= @event.entrance_fee %></br></br>
<b>Prize Money: </b> $<%= @event.prize %></br></br>
<b>Status: </b> <%= @event.status %> </br></br>

<% if current_user.events.find{|event| event.id == @event.id} %>
    <%= link_to "Remove this Tournament from your Events", delete_event_path(@event)%><br>
<% elsif !current_user.events.find{|event| event.id == @event.id} && @event.status == "Open"%>
    <%= link_to "Join this Tournament", add_event_path(@event) %><br>
<% end %> 

<% if @event.host == true %>
<%= link_to "Edit this Event", edit_event_path(@event)%>
<% end %></br>

<%= link_to "Upcoming Events", events_path %></br></br>
<%= link_to "Return Home", user_path(current_user) %>
