<% if @game.errors.any? %>
   <div id="error_explanation">
      <h2> 
         <%= pluralize(@game.errors.count, "error") %>
         prohibited this game from being saved:
      </h2>

      <ul> 
        <% @game.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
        <% end %>
     </ul>
    </div>
    <% end %>

<h1> Add a Game to Vie Games!</h1> 

<%= form_for(@game) do |f| %> 
    <h6><b>Title:</b></h6><%= f.text_field :title %> </br></br>
    <h6><b>Select Content Rating:</b></h6>
    Everyone: <%= f.radio_button(:content_rating, "Everyone")%>
    Everyone 10 & Up: <%= f.radio_button(:content_rating, "Everyone 10 & Up")%>
    Teen: <%= f.radio_button(:content_rating, "Teen")%>
    Mature: <%= f.radio_button(:content_rating, "Mature")%></br></br>
    <h6> <b>Select a System: </b></h6> 
    <%=f.collection_select(:system_id, System.all, :id, :name)%></br></br>
    <h6><b> Own This Game?</b></h6> 
    <label for="true"> True </label>
    <input type="radio" name="game[user_game]" value= true>
    <label for="false"> False </label>
    <input type="radio" name="game[user_game]" value= false></br></br>
    
    <%= f.submit :onclick => "return confirm('Please confirm details are correct. You cannot edit or delete a game once added to the database.')" %>
    <% end %>

