<h1><%= @game.title %> </h1>

<% rating = @game.content_rating.downcase.gsub(" ","_") %>
<h6> <b>Content Rating:</b></h6> <%= link_to @game.content_rating, rating_path(rating)%> </br>
<h6> <b>Game System:</b></h6> <%= link_to @game.system.name, system_path(@game.system) %></br>
<h6> <b>Company:</b></h6> <%= link_to @game.company.name, company_path(@game.company)%></br>
<h6> <b>Number of Users who play <%= @game.title %>:</b></h6> <%= @game.users.count %><br>
<% if @game.user_games.count > 0 %>
<h6> <b>Average User Rating:</b></h6> <%= @game.average_rating %>
<% end %> 


<% user_game = UserGame.find_by(game_id: @game.id, user_id: current_user.id) %>
<% if current_user.games.find{|game| game.id == @game.id} && user_game.star_rating == nil %>
    <%= form_for(:user_game, :url => add_rating_path, method: "patch") do |f| %>
        <h6> <b>Add a Rating for <%= @game.title %></b> </h6>
        1 <%= f.radio_button(:star_rating, 1)%>
        2 <%= f.radio_button(:star_rating, 2)%>
        3 <%= f.radio_button(:star_rating, 3) %>
        4 <%= f.radio_button(:star_rating, 4) %>
        5 <%= f.radio_button(:star_rating, 5) %></br></br>
        <%= f.submit "Add Rating" %>
    <% end %>
<% end %></br></br>

<% if !(current_user.games.find{|game| game.id == @game.id}) %>
    <div class="collect_game"><h6><%= link_to "Add #{@game.title} to Your Collection", add_game_path(@game) %> <br>
<% end %></h6></div><br><br>

<div class="upcoming_event"><h6><%= link_to "Upcoming Events for #{@game.title}", game_events_path(@game)%></h6></div> <br><br>

<% if current_user.games.find{|game| game.id == @game.id} %>
    <div class="create_event"><h6><%= link_to "Create an Event for #{@game.title}", new_game_event_path(@game)%></h6></div><br><br>

    <div class="collect_game"><h6><%= link_to "Remove #{@game.title} from Your Collection", delete_game_path(@game) %></h6></div><br>
<% end %>