<!DOCTYPE html>
<html>
  <head>
    <title>VieGames</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Vie Games</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/users/:id">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/events">Events</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/games">Games</a>
      </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Ratings
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/rating/Everyone">Everyone</a>
          <a class="dropdown-item" href="/rating/Everyone_10_&_Up">Everyone 10 & Up</a>
          <a class="dropdown-item" href="/rating/Teen">Teen</a>
          <a class="dropdown-item" href="/rating/Mature">Mature</a>
      </div>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/systems"> Systems</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/companies"> Companies</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ≡
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/games/new">Add a Game to Vie Games</a>
          <a class="dropdown-item" href="/events/new">Create a Vie Games Event</a>
          <a class="dropdown-item" href="/users/:id/edit">Edit Your Account</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
    </li>
    </ul>
    
  </div>
</nav>
<div class="wrapper">
  <div class="container">
  
    <%= yield %>
  </div>
  </div>
  </body>
  <footer>
  
</html>
